.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Makes it full height of the viewport */
}

.task-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Set a width for the form */
    height: 300px;

}
